<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<h2>Message from </h2>
<p><%= @contact[:name] %></p>
<br/>

<h3>Email:</h3>
<p> <%= @contact[:email] %></p>
<br/>

<h3>Message</h3>
<p><%= @contact[:message] %></p>
<br/>

  </body>
</html>