

	<div class="row footer">
	
		<div class="span6">
		
			<ul class="footer-nav">
				<li><%= image_tag("made-in-syd.png") %> &nbsp; </li>
                <li><a href="delivery.html">Delivery Information</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		
		</div>
	
		<div class="span6 footer-right">
		
			<p>
				&copy; Humbada Special Chilli Sauce Co.
			</p>
		
		</div>
	
	</div>

